@model List<Modelo.Models.Articulos>
@{
    ViewBag.Title = "Productos";
}

<div class="d-flex flex-column" id="content-wrapper">
    <h3 class="text-dark mb-1">Articulos</h3>
    <hr />
    <div class="row">
        <div class="col-md-1">
            <div class="form-group">
                <label for="FabricanteBusqueda">Fabricante</label>
                @Html.DropDownList("FabricanteBusqueda", new SelectList(ViewBag.Fabricantes, "Key", "Value"), new { @class = "btn btn-dark dropdown-toggle form-control" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="SucursalBusqueda">Sucursal</label>
                @Html.DropDownList("SucursalBusqueda", new SelectList(ViewBag.Sucursales, "Key", "Value"), new { @class = "btn btn-primary dropdown-toggle form-control", @title = "Todas" })
            </div>
        </div>
         <div class="col-md-1">
            <div class="form-group">
                <label for="EstadoBusqueda">Estado</label>
                <select id="EstadoBusqueda" class="btn btn-secondary dropdown-toggle form-control" title="Todos" name="EstadoBusqueda">
                    <option value="-1">Todos</option>
                    <option value="1">Nuevo</option>
                    <option value="0">Usado</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="ProductoBusqueda">Producto</label>
                <input type="text" class="form-control" id="ProductoBusqueda" placeholder="Ingrese producto">
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label>Buscar</label>
                <button class="border rounded d-inline btn-primary form-control" onclick="Buscar();"><i class="fa fa-search" style="font-size:20px"></i></button>
            </div>
        </div>
    </div>
    <hr />
    <div id="lista">
        @Html.Partial("_Resultados", Model)
    </div>

</div><a class="border rounded d-inline scroll-to-top" style="background: rgba(90,92,105,0);margin-right: 155px;"><button class="btn btn-success fs-5 link-light" type="button" style="width: 195.078px;margin-right: 0px;" data-bs-target="#modal-articulo" data-bs-toggle="modal" onclick="abrirModal(0)">Nuevo Producto</button></a>


<!--Modal-->
<div class="modal fade" role="dialog" tabindex="-1" id="modal-articulo">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#FabricanteBusqueda").val("-1");
        $("#SucursalBusqueda").val("-1");
        $("#EstadoBusqueda").val("-1");
    })
    function abrirModal(e) {
        $('#modal-content').html("");
        $.ajax({
            url: '/Articulos/GetArticulo',
            data: { "accion": '', 'id': e },
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#modal-content').html(result);
            }
        });
    }

    function confirmacion(e) {
        $('#modal-content').html("");
        $.ajax({
            url: '/Articulos/GetArticulo',
            data: { "accion": 'DELETE', 'id': e },
            type: 'GET',
            cache: false,
            success: function (result) {
                $('#modal-content').html(result);
            }
        });
    }

    function Guardar() {
        $("#loader").show()
        var articulo = DatosArticulo();
        $.ajax({
            type: 'POST',
            url: '/Articulos/Guardar',
            data: { "articulo": articulo },
            success: function (result) {
                if (result) {
                    toastr.success("Se ha generado el articulo.", "Éxito", { disableTimeOut: true, closeButton: true });
                    setTimeout(function () {
                        location.reload(true);
                    }, 1000);
                } else {
                    toastr.warning("No se modificaron datos.")
                }
                $("#loader").hide()

            },
            error: function () {
                toastr.error("Ocurrió un error al guardar el articulo");
                $("#loader").hide()
            }
        });
    }

    function Delete(e) {
        $("#loader").show()
        $.ajax({
            type: 'DELETE',
            url: '/Articulos/Borrar',
            data: { "accion": 'DELETE', "id": e },
            success: function (result) {
                if (result) {
                    toastr.success("Se ha borrado el articulo.", "Éxito");
                    setTimeout(function () {
                        location.reload(true);
                    }, 1000);
                } else {
                    toastr.warning("No se modificaron datos.")
                }
                $("#loader").hide()

            },
            error: function () {
                toastr.error("Ocurrió un error al borrar el articulo");
                $("#loader").hide()
            }
        });
    }

    function Buscar() {
        $('#lista').html("");
        $("#loader").show()
        var f = document.getElementById("FabricanteBusqueda");
        var fab = f.options[f.selectedIndex].value

        var s = document.getElementById("SucursalBusqueda");
        var suc = s.options[s.selectedIndex].value

        var e = document.getElementById("EstadoBusqueda");
        var est = e.options[e.selectedIndex].value

        var prod = document.getElementById("ProductoBusqueda").value

        $.ajax({
            type: 'GET',
            url: '/Articulos/Buscar',
            data: { Sucursal: suc, Producto: prod, Fabricante: fab, Nuevo:est },
            success: function (result) {
                $("#lista").html(result);
                $("#loader").hide()
            },
            error: function () {
                $("#loader").hide()
                /*location.reload();*/
            }
        });
    }

    function DatosArticulo() {
        var e = document.getElementById("Fabricante");

        return {
            Id: document.getElementById("articulo_cod").value,
            Nombre: document.getElementById("articulo_denom").value,
            Stock: document.getElementById("articulo_stock").value,
            Precio: document.getElementById("articulo_precio").value,
            Estado: document.getElementById("check_estado").checked,
            Fabricante: e.options[e.selectedIndex].value,
            Sucursal: 1
        }
    }

    /*$(".dropdown-toggle").dropdown();*/
    $('.dropdown-menu').on('click', 'a', function () {
        var text = $(this).html();
        var htmlText = text + ' <span class="caret"></span>';
        $(this).closest('.dropdown').find('.dropdown-toggle').html(htmlText);
    });
</script>
