@model List<Modelo.Models.Pedidos>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>N° Pedido</th>
                <th>Proveedor</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.Id</td>
                    <td>@item.Proveedor</td>
                    <td>@item.PedidosDet.Count()</td>
                    <td>$324232</td>
                    <td><a id="btn-edit" href="~/Pedidos/Pedido/?id=@item.Id"><i class="fa fa-edit fs-4 text-primary"></i></a><a id="btn-delete" href="#" data-bs-target="#modal-confirmacion" data-bs-toggle="modal" data-val=@item.Id><i class="fa fa-trash fs-4 text-danger" style="margin-left: 20px;"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
