@*@{
        ViewBag.Title = "Home";
    }*@
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Panel de Control</h3>
</div>
<div class="row">
    <div class="col-lg-7 col-xl-8">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <p class="text-primary m-0 fw-bold" style="--bs-primary: #4e73df;--bs-primary-rgb: 78,115,223;">Últimos Movimientos</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Sucursal</th>
                                <th>Sector</th>
                                <th>Accion</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01-01-2020</td>
                                <td>Agustín</td>
                                <td>Olmos</td>
                                <td>Comercial</td>
                                <td>Venta</td>
                                <td>Teclado Casio CTK240</td>
                            </tr>
                            <tr>
                                <td><br>01-01-2020<br><br></td>
                                <td><br>Agustín<br><br></td>
                                <td><br>Olmos<br><br></td>
                                <td><br>Comercial<br><br></td>
                                <td>Compra</td>
                                <td>Casio SP20 Pedal</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <p class="text-primary m-0 fw-bold" style="--bs-primary: #4e73df;--bs-primary-rgb: 78,115,223;">Nuevos productos</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Imagen</td>
                                <td>Nombre</td>
                                <td>Precio</td>
                            </tr>
                            <tr>
                                <td>Imagen</td>
                                <td>Nombre</td>
                                <td>Precio</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


