@model List<Modelo.Models.Ventas>

<div class="table-responsive">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>N° Venta</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.Id</td>
                    <td>@item.VentasDet.Count()</td>
                    <td>@item.Precio</td>
                    <td>
                        <a id="btn-edit" href="~/Ventas/Venta/?id=@item.Id">
                            <i class="fa fa-edit fs-4 text-primary"></i>
                        </a><a id="btn-delete" href="#" data-bs-target="#modal-confirmacion" data-bs-toggle="modal" data-val=@item.Id>
                            <i class="fa fa-trash fs-4 text-danger"></i>
                        </a>
                        <a id="btn-print" onclick="Generar(@item.Id)">
                            <i class="fa fa-print fs-4 text-dark"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
