<!DOCTYPE html>
<html style="--bs-primary: #a34466;--bs-primary-rgb: 163,68,102;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - Sistema de Gestión de Stock de Comercios</title>
    <meta name="description" content="Sistema de gestión de Stock de comercios">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/Content/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/untitled.css">
</head>
<body id="page-top">
    <div id="wrapper">
        @Html.Partial("_Navbar")
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - StockControl</p>
            </footer>
        </div>
    </div>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/theme.js"></script>
</body>
</html>