<nav class="navbar navbar-dark bg-primary bg-gradient align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="color: var(--bs-blue);--bs-primary: #42ab98;--bs-primary-rgb: 66,171,152;--bs-body-bg: var(--bs-green);background: var(--bs-teal);">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3"><span class="fs-6" style="font-weight: bold;">STOCKONTROL</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="~/Home/Home"><i class="fas fa-tachometer-alt"></i><span>Inicio</span></a></li>
            <li class="nav-item"><a class="nav-link" href="~/Articulos/Index"><i class="fas fa-table"></i><span>Articulos</span></a></li>
            <li class="nav-item"><a class="nav-link" href="~/Proveedores/Index"><i class="fas fa-window-maximize"></i><span>Pedidos a Proveedor</span></a></li>
            <li class="nav-item"><a class="nav-link" href="~/Profile/Index"><i class="fas fa-user"></i><span>Perfil</span></a></li>
            <li class="nav-item"><a class="nav-link" href="~/Reportes/Index"><i class="fas fa-table"></i><span>Reportes</span></a></li>
            <li class="nav-item"><a class="nav-link" href="~/Reparaciones/Index"><i class="fa fa-wrench"></i><span>Reparaciones</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
