
@{
    ViewBag.Title = "Reportes";
}

<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <h3 class="text-dark mb-4">Reportes</h3>
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-md-6" style="width: 180px;">
                            <div class="dropdown">
                                <button class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Seleccione tipo&nbsp;</button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">Ventas</a><a class="dropdown-item" href="#">Compras</a><a class="dropdown-item" href="#">Productos</a></div>
                            </div>
                        </div>
                        <div class="col-md-6" style="width: 180px;">
                            <div class="dropdown">
                                <button class="btn btn-light btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Seleccione usuario&nbsp;</button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">Todos</a><a class="dropdown-item" href="#">Empleado</a><a class="dropdown-item" href="#">Agustin</a></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row" style="width: 529px;">
                                <div class="col" style="width: 238px;"><label class="form-label" for="username"><strong>Desde</strong></label><input type="date" style="margin-left: 14px;"></div>
                                <div class="col" style="width: 238px;"><label class="form-label" for="username"><strong>Hasta</strong></label><input type="date" style="margin-left: 14px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-nowrap">
                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                <label class="form-label">
                                    Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                        <option value="10" selected="">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>&nbsp;
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                        </div>
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table table-striped table-bordered my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Vendedor</th>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>132231</td>
                                    <td>Agustin</td>
                                    <td>32</td>
                                    <td>25/4/2020</td>
                                    <td>$123123</td>
                                    <td>$162700</td>
                                </tr>
                                <tr>
                                    <td>453432</td>
                                    <td>Empleado</td>
                                    <td>2</td>
                                    <td>25/9/2019</td>
                                    <td>$323<br></td>
                                    <td>$1,200</td>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                                <tr></tr>
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center"></div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center"></div>
                        <div class="col-md-6 text-end align-self-start"><button class="btn btn-success link-light" type="button">Generar Reporte</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

